@model List<Car>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Car Rental System</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
<hr />
<h3>Browse cars</h3>

<div class="row gy-3">
    @foreach (var c in Model)
        {
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card">
            <div class="card-header" style="">
                <img class="img-fluid" src="@(c.CarImages.First().ImagePath)" />
            </div>
            <div class="card-body pb-0">
                <h4>@c.CarType.Name</h4>
                <p class="m-0">Color: @c.Color</p>
                <p class="m-0">Mileage: @c.Mileage</p>
                <p class="m-0">Status: @c.Status</p>
                <h5 class="text-center py-2 m-0">$@c.CarType.PricePerDay.ToString("G")</h5>
            </div>
            <div class="card-footer">
                <a asp-controller="Cars" asp-action="ViewCar" asp-route-id="@c.Id" class="btn btn-success w-100">Reserve</a>
            </div>
        </div>
    </div>
        }
</div>